<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
    <link rel="stylesheet" href="../stylesheets/home.css" />
  </head>
  <body>
    <div class="main--body">
        <div class="logo">PMT</div>
      <div class="side--nav">
        <div class="side--bars" ><a href="/home">HOME</a></div>
        <div class="side--bars" ><a href="/messages">MESSAGES</a></div>
        <div class="side--bars"><a href="/workspace">WORKPLACE</a></div>
        <div class="side--bars">MEMBERS</div>
        <div class="side--bars">SETTINGS</div>

      </div>
      <div class="top--search">
        <input type="search" class="search--bar" placeholder="Search here"/>
      </div>
      <div class="main--body--two">
            <div class="first--div">
                <h1 class="welcome--text">Good morning, username</h1>
                <div class="welcome--image">
                    <img src="../images/Illustration 4.png" alt="">
                </div>
                <button class="start--btn">Get started</button>
                <div class="tasks--div">
                    <h1 >Tasks </h1>
                    <div class="task--top">
                    <input type="text" placeholder="add task here">
                    <button class="add--task--btn">+</button>
                    </div>
                </div>
                <!-- <div class="clender">
                    <input type="date" name="date" id="date" data-date-inline-picker="true" aria-modal="true" d>
                </div> -->
            </div>
      </div>
    </div>
  </body>
</html>
