<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>workspace</title>
    <link rel="stylesheet" href="../stylesheets/home.css" />
  </head>
  <body>
    <div class="logo">PMT</div>
    <div class="side--nav">
      <div class="side--bars"><a href="/home">HOME</a></div>
      <div class="side--bars"><a href="/messages">MESSAGES</a></div>
      <div class="side--bars"><a href="/workspace">WORKPLACE</a></div>
      <div class="side--bars">MEMBERS</div>
      <div class="side--bars">SETTINGS</div>
    </div>
    <div class="top--search">
      <input type="search" class="search--bar" placeholder="Search here" />
    </div>
  </body>
</html>
